/* Write your code here. */
body {
  margin: 0px;
}
.bg-container {
  background-image: url("https://assets.ccbp.in/frontend/react-js/congrats-card-bg.png");
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heading {
  font-family: "Roboto";
  font-size: 30px;
  color: #0f172a;
}
.inner-container {
  background-color: #cffafe;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.name-class {
  color: ##1e293b;
  font-family: "Roboto";
  font-size: 16px;
}
.img {
  height: 80px;
  width: 80px;
}
.paragraph {
  color: ##1e293b;
  font-family: "Roboto";
  font-size: 12px;
}
